@import url("../css/bootstrap.min.css");
@import url("../css/bootstrap.css");
@import url("../css/font-awesome.css");
@import url("../css/font-awesome.min.css");
@import url("../css/reset.css");
@import url("../css/style.css");
.dashboard_heading
{
	padding: 10px 20px;
}
.dashboard_heading h3
{
	display: inline-block;
	font-size: 18px;
	padding: 0;
}
.dashboard_inner
{
	padding: 30px 0;
}
.dashboard_inner h2
{
	font-size: 24px;
	padding: 0 0 15px 0;
	margin: 0;
}
.dashboard_inner p
{
	padding: 0 0 20px 0;	
}
.dashboard_inner
{
	float: left;
	width: 100%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 20px;
}
.post_job
{	
	border: 1px solid #ddd;
	float: left;
	width: 100%;
}
.account_activity
{
	border-bottom: 1px solid #ddd;
	float: left;
	width: 100%;
	padding: 20px 0;
	margin-bottom: 10px;
}
#job_dash_inner
{
	
}
#job_dash_inner h3
{
	display: inline-block;
	font-size: 18px;
	padding: 0;
	border-bottom: 3px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.new_account_outer
{
	padding-bottom: 10px;
}
.preview_btn p
{
	margin: 10px 0;
	margin-left: 10px;
}
.preview_inner
{
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	margin-bottom: 10px;
}
.preview_inner h4
{
	font-size: 15px;
	margin-bottom: 10px;
}
.preview_inner p
{
	font-size: 13px;
	margin-bottom: 10px;
}
.preview_inner h3
{
	font-size: 18px;
	display: inline-block;
	border-bottom: 3px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.preview_inner li 
{
    font-size: 12px;
    list-style: initial;
    margin-bottom: 5px;
}
.preview_inner ul 
{
 	margin-left: 30px;
}
.preview_inner h5
{
	font-size: 13px;
	margin-bottom: 10px;
}
.preview_inner h6
{
	font-size: 13px;
	margin-bottom: 10px;
}
@media(max-width:767px){

	.dashboard_inner h2
	{
		font-size: 15px;
	}
}